<template name="reminderList">
  <h1> All Reminders </h1>

	<table class="table">
  		<th>Active</th>
  		<th>Name</th>
  		<th>Email</th>
  		<th>To</th>
  		<th>Start Time</th>
  		<th>Periodicy</th>
  		<th>Next Run</th>
  		<th>Actions</th>

  		{{#each reminders}}
  			<tr>
  				<td><input type="checkbox" checked={{active}} disabled="disabled" /></td>
  				<td>{{name}}</td>
  				<td>
            <a href="{{emailLink email.id}}">{{email.name}}</a>
          </td>
  				<td>{{to}}</td>
  				<td>{{formatDateTime startDateTime}}</td>
  				<td>{{periodicity}}</td>
  				<td>{{formatDateTime nextRun}}</td>
  				<td> 
  					<button class="btn remove-btn btn-link"> Remove </button> 
  					<button class="btn disable-btn btn-link"> 
  						{{#if active}} Disable {{else}} Enable {{/if}} 
  					</button> 
            <button class="btn edit-btn btn-link"> Edit </button> 
  				</td>
  			</tr>
  		{{/each}}
      
  	</table>
    
  	<button class="btn add-reminder-btn btn-success">Add Reminder</button>
</template>