<template name="emailForm">
	<h1>Create / Edit Email</h1>

	<form class="email-form">

		<input type="hidden" name="id" value="{{email._id}}"/>
	
		<div class="form-group"> 
			<label>Name</label> 
			<input type="text" name="name" required value="{{email.name}}" class="form-control"/> 
		</div>

		<div class="form-group"> 
			<label>Subject</label> 
			<input type="text" name="subject" required value="{{email.subject}}" class="form-control"/> 
		</div>

		<div class="form-group"> 
			<label>Body</label> 
			<textarea id="email-body" name="body" required  class="form-control">
				{{email.body}}
			</textarea> 
		</div>

		<button class="btn email-save-btn btn-success"> Save </button>

	</form>
</template>