<template name="newEmailForm">
	<form class="new-email-form" style="display: none">
		<div class="new-email-form-item"> 
			<label>Name</label> <input type="text" name="name" required class="new-email-form-input"/> 
		</div>
		<div class="new-email-form-item"> 
			<label>Subject</label> <input type="text" name="subject" required class="new-email-form-input"/> 
		</div>
		<div class="new-email-form-item"> 
			<label>Body</label> <input type="text" name="body" required class="new-email-form-input"/> 
		</div>

		<input type="submit" value="Save" class="new-email-save-btn"/>
	</form>
</template>